@charset "utf-8";
@import "_container.css";
@import "_grid.css";
@import "_paddings.css";
@import "_margins.css";
@import "_display.css";
@import "_typo.css";
@import "_colors.css";


@import "standalone/_hero.css";
@import "standalone/_slider.css";
@import "standalone/_iframe.css";

@import "custom.css";




/* CSS Document */
* {
  padding: 0px;
  margin: 0px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
html, body {
  width: 100%;
  height: 100%;
}

img 	{ width: auto; max-width: 100%;	height: auto; max-height: 100%; }
.img 	{ display: block; width: 100%;	height: 100%; }



/* HTML SKELETON

<div id="" class="section">
    <div class="text">
        <div class="headline">Headline</div>
        <div class="subline">Subline</div>
    </div>

        <div class="group">
            <div class="text">
                <div class="headline">Headline</div>
                <div class="subline">Subline</div>
            </div>
            

                <div class="row">
                    <div class="modul">
                        <!-- Stuff like img, h1, div, .... -->
                    </div>
                </div>
        

        </div>
</div>

*/
